# üìäüìö Analysez des donn√©es de syst√®mes √©ducatifs

## Sommaire
[Introduction](#Introduction)  

[1. Librairies et chargement des data](#1.-Librairies-et-chargement-des-data)
- [a. Librairies import√©es](#a.-Librairies-import√©es)
- [b. Chargement des fichiers CSV](#b.-Chargement-des-fichiers-CSV)

[2. Nettoyage des dataframes](#2.-Nettoyage-des-dataframes)
- [a. Cr√©ation du log df](#a.-Cr√©ation-du-log-df)
- [b. Suppression des colonnes avec na_rate = 1](#b.-Suppression-des-colonnes-avec-na_rate-=-1)
- [c. Suppression des faux pays](#c.-Suppression-des-faux-pays)

[3. S√©lection provisoire des indicateurs](#3.-S√©lection-provisoire-des-indicateurs)
- [a. Indicateurs](#a.-Indicateurs)
-
-

## Introduction

Academy est une plateforme d'√©ducation en ligne pour les √©tudiants du niveau lyc√©e et universit√©.
La start-up qui a d√©velopp√© la plateforme souhaite l'√©tendre √† un niveau internationnal. 

Pour ce faire, il faut dans un premier temps **s'assurer que les donn√©es r√©colt√©es de la banque mondiale sont exploitables** pour enrichir la r√©flexion. 
Puis, dans un second temps, **identifier les pays cibles avec un fort potentiel** et voir leur √©volution dans le temps.

### 1. Librairies et chargement des data

#### a. Librairies import√©es

In [106]:
import pandas as pd
import numpy as np
import ipywidgets as widgets
from IPython.display import display

#### b. Chargement des fichiers CSV

In [107]:
df_data = pd.read_csv('../dataset/EdStatsData.csv')
df_country_series = pd.read_csv('../dataset/EdStatsCountry-Series.csv')
df_country = pd.read_csv('../dataset/EdStatsCountry.csv')
df_foot_note = pd.read_csv('../dataset/EdStatsFootNote.csv')
df_stats_series = pd.read_csv('../dataset/EdStatsSeries.csv')

###### Description des DF

**df_data** : Ensemble des indicateurs par pays et par ann√©es (1970 √† 2100). Chaque ligne repr√©sente le couple pays/indicateurs.

**df_country** : Liste d'informations compl√©mentaires concernant les pays. Chaque ligne correspond √† un pays.

**df_country_series** : Indicateurs d√©mographiques et √©conomiques par ann√©e et par pays pr√©sents dans df_data. Chaque ligne rep√©sente le couples pays/indicateurs/ann√©es.

**df_stats_series** : Lexique des indicateurs. Chaque lique correspond √† un indicateur.

**df_foot_note** : Informations additionnelles sur les indicateurs bas√©es sur l'ann√©e, le type d'indicateur et le pays dans df_data.

In [108]:
#add widget to display df.head(5)

### 2. Nettoyage des dataframes

#### a. Cr√©ation du log df

In [109]:
#Log df infos
dic = {"df_data" : df_data, "df_country":df_country, "df_country_series" : df_country_series, 
           "df_foot_note" : df_foot_note, "df_stats_series" : df_stats_series}


cat_log = ['shape','duplicated_rows','na_rate', 'stats','nunique_cat']

obj_log = {
    'log_cat': cat_log,
    "df_data": [None] * len(cat_log),
    "df_country": [None] * len(cat_log),
    "df_country_series": [None] * len(cat_log),
    "df_foot_note": [None] * len(cat_log),
    "df_stats_series": [None] * len(cat_log)
}

df_log = pd.DataFrame(obj_log)

In [110]:
dic_keys = list(dic.keys())

for df_name in dic_keys:
    
    #Shape
    shape_value = dic[df_name].shape
    df_log.loc[df_log['log_cat'] == 'shape', df_name] = [shape_value]
    
    #duplicated_rows
    duplicates = dic[df_name].duplicated().sum()
    df_log.loc[df_log['log_cat'] == 'duplicated_rows', df_name] = [duplicates]
    
    #na_rate
    na_rate = round(dic[df_name].isna().sum() / len(dic[df_name]),2)
    df_log.loc[df_log['log_cat'] == 'na_rate', df_name] = [na_rate]
    
    #stats df.describe(include=[np.number])
    stats_report = dic[df_name].describe(include=[np.number])
    df_log.loc[df_log['log_cat'] == 'stats', df_name] = [stats_report]
    
    #Nb uniques categories df_obj = df.select_dtypes(include='object')
    unique_categories = dic[df_name].select_dtypes(include='object').nunique()
    df_log.loc[df_log['log_cat'] == 'nunique_cat', df_name] = [unique_categories]

In [111]:
df_log

,log_cat,df_data,df_country,df_country_series,df_foot_note,df_stats_series
0,shape,"(886930, 70)","(241, 32)","(613, 4)","(643638, 5)","(3665, 21)"
1,duplicated_rows,0,0,0,0,0
2,na_rate,Country Name 0.00 Country Code 0.00 ...,Country Code ...,CountryCode 0.0 SeriesCode 0.0 DESCRIPT...,CountryCode 0.0 SeriesCode 0.0 Year ...,Series Code 0.00 To...
3,stats,1970 1971 197...,National accounts reference year Lates...,Unnamed: 3 count 0.0 mean ...,Unnamed: 4 count 0.0 mean ...,Unit of measure Notes from original so...
4,nunique_cat,Country Name 242 Country Code 242 ...,Country Code ...,CountryCode 211 SeriesCode 21 DESCRIPT...,CountryCode 239 SeriesCode 1558 Year ...,Series Code 3665 To...

In [112]:
# Widgets : Toggle pour log_cat et Toggle pour les colonnes
toggle_cat = widgets.ToggleButtons(
    options=df_log['log_cat'].values,
    description='Category:',
    button_style=''
)

toggle_df = widgets.ToggleButtons(
    options=df_log.columns[1:],
    description='Dataframe:',
    button_style=''
)

# Output widget pour afficher le r√©sultat
out = widgets.Output()

# Callback qui combine les deux s√©lections
def update_value(change):
    category_name = toggle_cat.value
    df_name = toggle_df.value
    
    with out:
        out.clear_output()
        try:
            valeur = df_log.loc[df_log['log_cat'] == category_name, df_name].iloc[0]
            
            if isinstance(valeur, pd.Series):
                display(valeur.to_frame())
            else:
                display(valeur)
                
        except Exception as e:
            print("Erreur :", e)

# Observer les changements sur les deux widgets
toggle_cat.observe(update_value, names='value')
toggle_df.observe(update_value, names='value')

# Affichage
display(toggle_cat, toggle_df, out)

ToggleButtons(description='Category:', options=('shape', 'duplicated_rows', 'na_rate', 'stats', 'nunique_cat')‚Ä¶

ToggleButtons(description='Dataframe:', options=('df_data', 'df_country', 'df_country_series', 'df_foot_note',‚Ä¶

Output()

#### b. Suppression des colonnes avec na_rate = 1

In [113]:
if df_data.loc[:,['Country Name','Indicator Name']].duplicated().sum() == 0:
    print('‚úÖ Pas de doublon pour le couple Pays/Indicateurs dans le df_data')

‚úÖ Pas de doublon pour le couple Pays/Indicateurs dans le df_data

In [114]:
col_to_delete = []

for df_name in dic_keys:
    temp_df = df_log.loc[df_log['log_cat'] == "na_rate", df_name].iloc[0].reset_index()
    
    #col name
    new_col_name = ['col_name','na_rate']
    temp_df.columns = new_col_name
    temp_df_filtered = temp_df[temp_df['na_rate'] == 1]
    col_list = temp_df_filtered['col_name'].astype(str).tolist()
    
    for col in col_list:
        col_to_delete.append(col)

print(col_to_delete)

['2017', 'Unnamed: 69', 'Unnamed: 31', 'Unnamed: 3', 'Unnamed: 4', 'Unit of measure', 'Limitations and exceptions', 'Notes from original source', 'General comments', 'Development relevance', 'Other web links', 'Related indicators', 'License Type', 'Unnamed: 20']

In [115]:
col_to_delete_set = set(col_to_delete)

for df_name in dic_keys:
    col_to_keep = [x for x in dic[df_name].columns if x not in col_to_delete_set]
    dic[df_name] = dic[df_name][col_to_keep]

df_data = dic["df_data"].copy()
df_country_series = dic["df_country_series"].copy()
df_country = dic["df_country"].copy()
df_foot_note = dic["df_foot_note"].copy()
df_stats_series = dic["df_stats_series"].copy()

### c. Suppression des faux pays

In [116]:
#from df_country['Short Name'].unique()
region_to_delete = ['Arab World','East Asia & Pacific (developing only)',
       'East Asia & Pacific (all income levels)',
       'Europe & Central Asia (developing only)',
       'Europe & Central Asia (all income levels)','Euro area','European Union','High income',
       'Heavily indebted poor countries (HIPC)','Latin America & Caribbean (developing only)',
       'Latin America & Caribbean (all income levels)',
       'Least developed countries: UN classification', 'Low income','Lower middle income',
       'Low & middle income','Middle East & North Africa (all income levels)','Middle income',
       'OECD members','Sub-Saharan Africa (developing only)','Sub-Saharan Africa (all income levels)',
       'Middle East & North Africa (developing only)',
       'World','Latin America & Caribbean',
       'Middle East & North Africa (excluding high income)',
       'North America', 'South Asia', 'Upper middle income',]

In [117]:
df_region = df_country[df_country['Short Name'].isin(region_to_delete)]
df_region = df_region.loc[:,['Short Name','Country Code']]

In [118]:
dic['df_country_series'] = dic['df_country_series'].rename(columns={'CountryCode' : 'Country Code'})
dic['df_foot_note'] = dic['df_foot_note'].rename(columns={'CountryCode' : 'Country Code'})

In [119]:
for df_name in dic_keys:
    if df_name != 'df_stats_series':
        dic[df_name] = dic[df_name][~dic[df_name]['Country Code'].isin(df_region['Country Code'].unique())]

## 3. S√©lection provisoire des indicateurs

#### a. Indicateurs

#### Crit√®res de recherches. 

il faudrait que les pays :

 - aient une accessibilit√© restreinte du niveau secondaire et universitaire. Soit par:
     - un manque d'infrasturcture
     - un manque de personnel
     - r√©serv√© √† une certaine population (classe sociale, genre...).
 - aient une population jeune avec une demande forte pour l√©ducation (% de dipl√¥m√© faible par rapport √† la population en √¢ge de l'√™tre).
 - soient un minimum d√©velopp√© de sorte √† ce que les √©tudiants puissent se procurer le mat√©riel informatique ad√©quat.

**Pourquoi ?** 

‚úÖ Opportunit√© de proposer une alternative.

‚úÖ Cette proposition est viable s'il y a de la demande.

‚úÖ Et cette derni√®re doit avoir les moyens d'acc√©der au produit.

In [120]:
# Identification des indicateurs
dic_kpis = {
    'School accessibility': {
        'Teachers': [
            'Teachers in secondary education, both sexes (number)',
            'Teachers in tertiary education programmes, both sexes (number)',
        ],
        'Education Management Information Systems (SABER)': [
            'SABER: (Education Management Information Systems) Policy Goal 1 Lever 4: Infrastructural capacity'
        ],
        'Attainment': [
            'Barro-Lee: Percentage of population age 15+ with no education'
        ],
        'Education Equality': [
            #multiple data sources
            'MICS: Secondary completion rate. Female',
            'MICS: Secondary completion rate. Male',
            'MICS: Secondary completion rate. Rural',
            'MICS: Secondary completion rate. Urban',
            'DHS: Primary completion rate. Female',
            'DHS: Primary completion rate. Male',
            'DHS: Primary completion rate. Rural',
            'DHS: Primary completion rate. Urban',
            'UIS: Total net attendance rate, lower secondary, female (%)',
            'UIS: Total net attendance rate, lower secondary, male (%)',
            'UIS: Total net attendance rate, lower secondary, rural, both sexes (%)',
            'UIS: Total net attendance rate, lower secondary, urban, both sexes (%)', 
        ]
    },
    'Demography': {
        'Population': [
            'Population of the official age for secondary education, both sexes (number)'
        ],
        'Health: Population: Structure': [
            'Population, total'
        ],
        'Health: Population: Dynamics': [
            'Population growth (annual %)'
        ]
    },
    'Economic': {
        'Infrastructure: Communications': [
            'Personal computers (per 100 people)',
            'Internet users (per 100 people)'
        ]
    }
}

#### b. Filtrage du df data

In [121]:
kpis_list = []
for theme in dic_kpis:
    for topic in dic_kpis[theme]:
        for kpi in dic_kpis[theme][topic]:
            kpis_list.append(kpi)

df_data_filtered = dic['df_data'][dic['df_data']['Indicator Name'].isin(kpis_list)]

#### c. S√©lection des ann√©es

In [122]:
years_to_keep = ['2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2020', '2025', '2030']
df_data_filtered_years = df_data_filtered.loc[:,['Country Name','Country Code','Indicator Name','Indicator Code'] + years_to_keep]

In [123]:
kpis_na_rate = df_data_filtered_years.groupby(
    ['Indicator Name']
)[years_to_keep].apply(lambda g: g.isna().mean()).reset_index().transpose()

kpis_na_rate_col = list(kpis_na_rate.iloc[0].values)

kpis_na_rate.columns = kpis_na_rate_col

kpis_na_rate = kpis_na_rate.iloc[1:]
kpis_na_rate = kpis_na_rate.reset_index()

In [124]:
kpis_na_rate

,index,Barro-Lee: Percentage of population age 15+ with no education,DHS: Primary completion rate. Female,DHS: Primary completion rate. Male,DHS: Primary completion rate. Rural,DHS: Primary completion rate. Urban,Internet users (per 100 people),MICS: Secondary completion rate. Female,MICS: Secondary completion rate. Male,MICS: Secondary completion rate. Rural,...,Population growth (annual %),"Population of the official age for secondary education, both sexes (number)","Population, total",SABER: (Education Management Information Systems) Policy Goal 1 Lever 4: Infrastructural capacity,"Teachers in secondary education, both sexes (number)","Teachers in tertiary education programmes, both sexes (number)","UIS: Total net attendance rate, lower secondary, female (%)","UIS: Total net attendance rate, lower secondary, male (%)","UIS: Total net attendance rate, lower secondary, rural, both sexes (%)","UIS: Total net attendance rate, lower secondary, urban, both sexes (%)"
0,2000,0.336406,0.953917,0.953917,0.953917,0.953917,0.096774,1.0,1.0,1.0,...,0.009217,0.124424,0.009217,1.0,0.474654,0.497696,0.990783,0.990783,0.990783,0.990783
1,2001,1.0,0.976959,0.976959,0.976959,0.976959,0.092166,1.0,1.0,1.0,...,0.009217,0.115207,0.009217,1.0,0.470046,0.525346,0.995392,0.995392,0.995392,0.995392
2,2002,1.0,0.995392,0.995392,0.995392,0.995392,0.082949,1.0,1.0,1.0,...,0.009217,0.105991,0.009217,1.0,0.488479,0.516129,1.0,1.0,1.0,1.0
3,2003,1.0,0.953917,0.953917,0.953917,0.953917,0.110599,1.0,1.0,1.0,...,0.009217,0.105991,0.009217,1.0,0.488479,0.543779,0.97235,0.97235,0.97235,0.97235
4,2004,1.0,0.976959,0.976959,0.976959,0.976959,0.096774,1.0,1.0,1.0,...,0.009217,0.105991,0.009217,1.0,0.483871,0.539171,0.967742,0.967742,0.967742,0.967742
5,2005,0.336406,0.935484,0.935484,0.935484,0.935484,0.087558,0.963134,0.963134,0.963134,...,0.009217,0.105991,0.009217,1.0,0.497696,0.580645,0.9447,0.9447,0.9447,0.9447
6,2006,1.0,0.963134,0.963134,0.963134,0.963134,0.092166,0.963134,0.963134,0.97235,...,0.009217,0.105991,0.009217,1.0,0.506912,0.576037,0.870968,0.870968,0.870968,0.870968
7,2007,1.0,0.97235,0.97235,0.97235,0.97235,0.059908,0.995392,0.995392,0.995392,...,0.009217,0.101382,0.009217,1.0,0.474654,0.576037,0.9447,0.9447,0.9447,0.9447
8,2008,1.0,0.958525,0.958525,0.958525,0.958525,0.064516,1.0,1.0,1.0,...,0.009217,0.101382,0.009217,1.0,0.520737,0.580645,0.967742,0.967742,0.967742,0.967742
9,2009,1.0,0.986175,0.986175,0.986175,0.986175,0.069124,1.0,1.0,1.0,...,0.009217,0.096774,0.009217,1.0,0.511521,0.529954,0.963134,0.963134,0.963134,0.963134
10,2010,0.336406,0.981567,0.981567,0.981567,0.981567,0.069124,0.990783,0.990783,0.990783,...,0.009217,0.105991,0.009217,1.0,0.548387,0.543779,0.9447,0.9447,0.9447,0.9447
11,2011,1.0,0.990783,0.990783,0.990783,0.990783,0.059908,0.990783,0.990783,0.990783,...,0.013825,0.101382,0.009217,1.0,0.497696,0.506912,0.935484,0.935484,0.935484,0.935484
12,2012,1.0,0.97235,0.97235,0.97235,0.97235,0.069124,1.0,1.0,1.0,...,0.013825,0.101382,0.013825,1.0,0.529954,0.502304,0.967742,0.967742,0.967742,0.967742
13,2013,1.0,0.995392,0.995392,0.995392,0.995392,0.073733,1.0,1.0,1.0,...,0.013825,0.101382,0.013825,1.0,0.520737,0.525346,0.963134,0.963134,0.963134,0.963134
14,2014,1.0,0.995392,0.995392,0.995392,0.995392,0.073733,0.981567,0.981567,0.981567,...,0.032258,0.096774,0.032258,1.0,0.479263,0.539171,0.990783,0.990783,0.990783,0.990783
15,2015,1.0,1.0,1.0,1.0,1.0,0.073733,1.0,1.0,1.0,...,0.032258,0.101382,0.032258,0.981567,0.552995,0.635945,0.995392,0.995392,0.995392,0.995392
16,2016,1.0,1.0,1.0,1.0,1.0,0.073733,1.0,1.0,1.0,...,0.032258,0.271889,0.032258,0.990783,0.963134,0.97235,1.0,1.0,1.0,1.0
17,2020,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
18,2025,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
19,2030,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

## 4. S√©lection d√©finitive des indicateurs

#### a. Indicateurs d√©finitifs

In [125]:
# Identification des indicateurs
dic_kpis = {
    'School accessibility': {
        'Teachers': [
            'Teachers in secondary education, both sexes (number)',
            'Teachers in tertiary education programmes, both sexes (number)',
        ],
        'Attainment': [
            'Barro-Lee: Percentage of population age 15+ with no education'
        ],
},
    'Demography': {
        'Population': [
            'Population of the official age for secondary education, both sexes (number)',
            'Population of the official age for tertiary education, both sexes (number)'
        ],
        'Health: Population: Structure': [
            'Population, total'
        ],
        'Health: Population: Dynamics': [
            'Population growth (annual %)'
        ]
    },
    'Economic': {
        'Infrastructure: Communications': [
            'Personal computers (per 100 people)',
            'Internet users (per 100 people)'
        ]
    }
}

#### b. Filtrage du df data

In [126]:
kpis_list = []
for theme in dic_kpis:
    for topic in dic_kpis[theme]:
        for kpi in dic_kpis[theme][topic]:
            kpis_list.append(kpi)

df_data_filtered = dic['df_data'][dic['df_data']['Indicator Name'].isin(kpis_list)]

In [127]:
kpis_na_rate = df_data_filtered.groupby(
    ['Indicator Name']
)[years_to_keep].apply(lambda g: g.isna().mean()).reset_index().transpose()

kpis_na_rate_col = list(kpis_na_rate.iloc[0].values)

kpis_na_rate.columns = kpis_na_rate_col

kpis_na_rate = kpis_na_rate.iloc[1:]

In [128]:
kpis_na_rate = kpis_na_rate.reset_index()
kpis_na_rate = kpis_na_rate.sort_values(by=['index'], ascending=False)

In [129]:
kpis_na_rate

,index,Barro-Lee: Percentage of population age 15+ with no education,Internet users (per 100 people),Personal computers (per 100 people),Population growth (annual %),"Population of the official age for secondary education, both sexes (number)","Population of the official age for tertiary education, both sexes (number)","Population, total","Teachers in secondary education, both sexes (number)","Teachers in tertiary education programmes, both sexes (number)"
19,2030,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
18,2025,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
17,2020,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
16,2016,1.0,0.073733,1.0,0.032258,0.271889,0.967742,0.032258,0.963134,0.97235
15,2015,1.0,0.073733,1.0,0.032258,0.101382,0.40553,0.032258,0.552995,0.635945
14,2014,1.0,0.073733,1.0,0.032258,0.096774,0.101382,0.032258,0.479263,0.539171
13,2013,1.0,0.073733,1.0,0.013825,0.101382,0.248848,0.013825,0.520737,0.525346
12,2012,1.0,0.069124,1.0,0.013825,0.101382,0.221198,0.013825,0.529954,0.502304
11,2011,1.0,0.059908,1.0,0.013825,0.101382,0.193548,0.009217,0.497696,0.506912
10,2010,0.336406,0.069124,1.0,0.009217,0.105991,0.115207,0.009217,0.548387,0.543779
9,2009,1.0,0.069124,0.986175,0.009217,0.096774,0.101382,0.009217,0.511521,0.529954
8,2008,1.0,0.064516,0.875576,0.009217,0.101382,0.105991,0.009217,0.520737,0.580645
7,2007,1.0,0.059908,0.778802,0.009217,0.101382,0.105991,0.009217,0.474654,0.576037
6,2006,1.0,0.092166,0.543779,0.009217,0.105991,0.105991,0.009217,0.506912,0.576037
5,2005,0.336406,0.087558,0.211982,0.009217,0.105991,0.105991,0.009217,0.497696,0.580645
4,2004,1.0,0.096774,0.175115,0.009217,0.105991,0.101382,0.009217,0.483871,0.539171
3,2003,1.0,0.110599,0.175115,0.009217,0.105991,0.101382,0.009217,0.488479,0.543779
2,2002,1.0,0.082949,0.16129,0.009217,0.105991,0.096774,0.009217,0.488479,0.516129
1,2001,1.0,0.092166,0.16129,0.009217,0.115207,0.105991,0.009217,0.470046,0.525346
0,2000,0.336406,0.096774,0.253456,0.009217,0.124424,0.110599,0.009217,0.474654,0.497696

#### c. S√©lection des ann√©es

In [130]:
list_kpi_year = []
for col in kpis_list:
    minus = kpis_na_rate[col].min()
    year = kpis_na_rate.where(kpis_na_rate[col] == minus)['index'].unique().astype(float)
    year = year[np.where(~np.isnan(year))]
    list_kpi_year.append(year[0])

In [131]:
df_kpis_year_selection = pd.DataFrame(columns=kpis_list)
df_kpis_year_selection.loc[0] = list_kpi_year

for col in df_kpis_year_selection.columns:
    df_kpis_year_selection[col] = df_kpis_year_selection[col].astype(int)
    df_kpis_year_selection[col] = df_kpis_year_selection[col].astype(str)

In [132]:
df_kpis_year_selection

,"Teachers in secondary education, both sexes (number)","Teachers in tertiary education programmes, both sexes (number)",Barro-Lee: Percentage of population age 15+ with no education,"Population of the official age for secondary education, both sexes (number)","Population of the official age for tertiary education, both sexes (number)","Population, total",Population growth (annual %),Personal computers (per 100 people),Internet users (per 100 people)
0,2001,2000,2010,2014,2002,2011,2010,2002,2011

In [133]:
df_data_final = df_data_filtered.loc[:,['Country Name','Country Code']].drop_duplicates()

for kpi in kpis_list:
    temp_df = df_data_filtered[df_data_filtered['Indicator Name'] == kpi]
    year = df_kpis_year_selection[kpi].values
    temp_df = temp_df.loc[:,['Country Code', year[0]]]
    temp_df = temp_df.rename(columns={year[0] : kpi})
    df_data_final = pd.merge(df_data_final, temp_df, how='left', on='Country Code')

#### d. Normalisation des donn√©es

In [134]:
df_data_final['Teachers'] = df_data_final['Teachers in secondary education, both sexes (number)'] + df_data_final['Teachers in tertiary education programmes, both sexes (number)']

df_data_final['Potential students'] = df_data_final['Population of the official age for secondary education, both sexes (number)'] + df_data_final['Population of the official age for tertiary education, both sexes (number)']

In [135]:
df_data_final['Teachers (per 100 students)'] = round(df_data_final['Teachers']  /
                                                     df_data_final['Potential students'] * 100,2)

In [136]:
df_data_final['Studients (per 100 people)'] = round(df_data_final['Potential students'] /
                                                            df_data_final['Population, total'] * 100,2)

In [137]:
df_data_final = df_data_final.dropna()
df_data_final = df_data_final.loc[:,['Country Name','Population, total','Barro-Lee: Percentage of population age 15+ with no education','Population growth (annual %)',
                                    'Personal computers (per 100 people)','Internet users (per 100 people)','Teachers (per 100 students)','Studients (per 100 people)']]

In [138]:
df_data_final

,Country Name,"Population, total",Barro-Lee: Percentage of population age 15+ with no education,Population growth (annual %),Personal computers (per 100 people),Internet users (per 100 people),Teachers (per 100 students),Studients (per 100 people)
1,Albania,2.905195e+06,3.28,-0.496462,1.103078,49.000000,4.19,20.73
7,Argentina,4.165688e+07,0.93,1.035037,7.972883,51.000000,4.53,17.82
15,Bangladesh,1.539119e+08,31.88,1.119888,0.328452,4.500000,0.87,23.94
16,Barbados,2.806010e+05,0.22,0.393880,10.388685,66.500000,4.81,13.89
18,Belgium,1.104774e+07,4.67,0.913639,27.082004,81.609996,9.71,12.27
20,Benin,9.460802e+06,53.91,2.806109,0.202300,4.148323,0.55,24.33
28,Brunei Darussalam,3.940130e+05,21.11,1.266145,7.794300,56.000000,4.76,20.57
29,Bulgaria,7.348328e+06,2.37,-0.658275,5.145805,47.979993,7.62,14.61
33,Cambodia,1.453789e+07,22.22,1.539045,0.212442,3.100000,0.69,21.83
34,Cameroon,2.052045e+07,20.73,2.730690,0.536287,5.000000,0.91,24.76
41,China,1.344130e+09,5.35,0.482960,2.740631,38.300000,2.70,14.06
42,Colombia,4.640665e+07,6.28,1.099086,3.881959,40.350916,2.92,19.43
49,Cuba,1.135465e+07,7.67,0.127576,2.229729,16.017291,6.35,13.50
51,Cyprus,1.124835e+06,0.74,1.314635,19.696350,56.859892,5.34,10.18
52,Czech Republic,1.049609e+07,0.15,0.291362,17.622750,70.490000,7.21,14.93
62,Estonia,1.327439e+06,0.20,-0.228058,21.147548,76.500000,10.37,12.74
66,Finland,5.388272e+06,0.00,0.457495,44.228566,88.709995,7.70,13.05
67,France,6.534278e+07,1.48,0.494037,34.472570,77.819999,6.80,14.04
72,Germany,8.027498e+07,1.80,-0.153198,42.540398,81.270000,7.50,14.33
75,Greece,1.110490e+07,2.51,0.128880,8.162260,51.649995,6.89,12.78
86,Hungary,9.971727e+06,0.29,-0.226014,10.817625,68.019988,7.24,16.02
88,India,1.247236e+09,33.16,1.366798,0.696569,10.070000,0.92,22.27
89,Indonesia,2.457075e+08,7.50,1.321405,1.171419,12.280000,2.58,19.87
95,Italy,5.937945e+07,5.61,0.307591,22.651603,54.389998,6.57,13.23
97,Japan,1.278330e+08,0.13,0.017961,38.574535,79.054114,7.34,11.68
103,"Korea, Rep.",4.993664e+07,3.44,0.498225,50.657420,83.759120,4.54,14.71
106,Kyrgyz Republic,5.514600e+06,0.76,1.192864,1.289125,17.500000,4.86,21.79
107,Lao PDR,6.333487e+06,31.19,1.520204,0.324602,9.000000,0.86,25.31
108,Latvia,2.059709e+06,0.30,-2.081305,17.261759,69.749955,11.02,13.04
110,Lesotho,2.064166e+06,12.39,1.051402,0.180325,7.000000,0.84,21.93
114,Lithuania,3.028115e+06,0.00,-2.096943,11.106467,63.639977,10.06,16.61
116,"Macao SAR, China",5.494390e+05,3.46,2.194609,20.713723,60.203697,3.72,12.03
120,Malaysia,2.863513e+07,6.88,1.819602,14.745762,61.000000,2.50,21.70
127,Mexico,1.190900e+08,7.24,1.558042,7.826755,37.176295,3.07,20.70
129,Moldova,3.559986e+06,0.98,-0.099865,1.940016,38.000000,6.13,17.30
131,Mongolia,2.761516e+06,4.29,1.648857,2.824129,12.499991,3.27,20.53
135,Myanmar,5.055303e+07,16.95,0.710724,0.507498,0.980000,0.74,22.64
141,New Zealand,4.384000e+06,0.90,1.111726,41.141492,81.230000,6.00,15.82
143,Niger,1.706464e+07,72.85,3.794963,0.059235,1.300000,0.14,21.29
150,Panama,3.707782e+06,7.19,1.767746,3.618116,42.700000,3.29,18.98
155,Poland,3.806326e+07,0.27,-0.285609,10.655543,61.949999,6.77,15.02
159,Romania,2.014753e+07,1.70,-0.593959,8.090046,40.009997,5.69,17.29
161,Rwanda,1.051607e+07,45.18,2.664241,0.119221,7.000000,0.28,22.18
172,Slovak Republic,5.398384e+06,0.30,0.093191,18.745663,74.439997,6.57,18.15
173,Slovenia,2.052843e+06,0.66,0.436079,30.149390,67.339995,6.98,13.68
178,Spain,4.674270e+07,2.25,0.460408,19.280844,67.089999,7.27,11.76
186,Swaziland,1.225258e+06,32.94,1.860161,2.310145,18.130000,1.53,21.36
187,Sweden,9.449213e+06,2.15,0.852525,62.348813,92.769986,8.53,11.96
192,Thailand,6.753013e+07,3.44,0.487643,3.857497,23.669926,2.05,15.87
195,Tonga,1.045770e+05,0.73,0.513140,2.018510,25.000000,4.11,26.17
197,Tunisia,1.076147e+07,20.87,1.116147,3.439359,39.100000,3.28,19.84
205,United Kingdom,6.325892e+07,0.15,0.783889,40.335216,85.379999,5.24,13.77